/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  box-sizing: border-box;
}
p{
  display: block;
}
.px-5, .px-5, .form{
  padding-left: 3rem;
  padding-right: 3rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr{
  display: table-row;
  vertial-align: inherit;
  border-color: inherit;
}
th{
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}